Repository microsoft/botbuilder-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/bb-python, @tracyboehrer, @garypretty, @microsoft/bb-python-integration, @axelsrz, @microsoft/bf-cog-services, @EricDahlvang, @microsoft/bf-adaptive, @gabog, @microsoft/bf-streaming, @johnataylor, @microsoft/bf-dialogs, @carlosscastro, @microsoft/bf-auth, @microsoft/bf-skills, @microsoft/bf-teams, @stevengum, @cleemullins

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
* @microsoft/bb-python

# Functional tests
/libraries/functional-tests/**                                                      @tracyboehrer

# Adapters
/libraries/botbuilder-adapters-slack/**                                             @tracyboehrer @garypretty

# Platform Integration Libaries (aiohttp)
/libraries/botbuilder-integration-aiohttp/**                                        @microsoft/bb-python-integration
/libraries/botbuilder-integration-applicationinsights-aiohttp/**                    @microsoft/bb-python-integration @garypretty

# Application Insights/Telemetry
/libraries/botbuilder-applicationinsights/**                                        @axelsrz @garypretty

# AI: LUIS + QnA Maker
/libraries/botbuilder-ai/**                                                         @microsoft/bf-cog-services

# Azure (Storage)
/libraries/botbuilder-azure/**                                                      @tracyboehrer @EricDahlvang

# Adaptive Dialogs
/libraries/botbuilder-dialogs-*/**                                                  @tracyboehrer @microsoft/bf-adaptive

# AdaptiveExpressions & LanguageGeneration libraries
/libraries/adaptive-expressions/**                                                  @axelsrz @microsoft/bf-adaptive
/libraries/botbuilder-lg/**                                                         @axelsrz @microsoft/bf-adaptive

# BotBuilder Testing
/libraries/botbuilder-testing/**                                                    @axelsrz @gabog

# Streaming library
/libraries/botbuilder-streaming/**                                                  @microsoft/bf-streaming

# BotBuilder library
/libraries/botbuilder-core/**                                                       @axelsrz @gabog @johnataylor

# BotBuilder Dialogs
/libraries/botbuilder-dialogs/**                                                    @microsoft/bf-dialogs

# Swagger
/libraries/swagger/**                                                               @axelsrz @EricDahlvang

# Bot Framework Schema
/libraries/botbuilder-schema/**                                                     @EricDahlvang @johnataylor

# Bot Framework connector
libraries\botframework-connector/**                                                 @axelsrz @carlosscastro @johnataylor

# Bot Framework Authentication
/libraries/botbuilder-core/botbuilder/core/oauth/**                                 @microsoft/bf-auth
/libraries/botframework-connector/botframework/connector/auth/**                    @microsoft/bf-auth

# Bot Framework Skills
/libraries/botbuilder-core/botbuilder/core/skills/**                                @microsoft/bf-skills
/libraries/botbuilder-integration-aiohttp/botbuilder/integration/aiohttp/skills/**  @microsoft/bf-skills
/tests/skills/**                                                                    @microsoft/bf-skills

# Bot Framework & Microsoft Teams
/libraries/botbuilder-core/botbuilder/core/teams/**                                 @microsoft/bf-teams
/libraries/botbuilder-schema/botbuilder/schema/teams/**                             @microsoft/bf-teams
/tests/teams/**                                                                     @microsoft/bf-teams

# Ownership by specific files or file types
# This section MUST stay at the bottom of the CODEOWNERS file. For more information, see
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file

# Shipped package files
# e.g. READMEs, requirements.txt, setup.py, MANIFEST.in
/libraries/**/README.rst                                                            @microsoft/bb-python
/libraries/**/requirements.txt                                                      @microsoft/bb-python
/libraries/**/setup.py                                                              @microsoft/bb-python
/libraries/**/setup.cfg                                                             @microsoft/bb-python
/libraries/**/MANIFEST.in                                                           @microsoft/bb-python

# CODEOWNERS
/.github/CODEOWNERS                                                                 @stevengum @cleemullins @microsoft/bb-python

updated twitter account
  README.md
Owners: @microsoft/bb-python

don't try to encode blob name
  libraries/botbuilder-azure/botbuilder/azure/blob_storage.py
Owners: @tracyboehrer, @EricDahlvang

updated twitter account (#1518)
  README.md
Owners: @microsoft/bb-python

DialogContainer.telemetryclient
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_container.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_set.py
Owners: @microsoft/bf-dialogs

Black formatting and self on DialogContainer
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_container.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_set.py
Owners: @microsoft/bf-dialogs

Adding tests. Testing for method add() are pending due to update breaking fragile tests.
  libraries/botbuilder-dialogs/tests/test_dialog_set.py
Owners: @microsoft/bf-dialogs

Pylint fix
  libraries/botbuilder-dialogs/tests/test_dialog_set.py
Owners: @microsoft/bf-dialogs

DialogContainer.telemetryclient (#1523)
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_container.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_set.py
  libraries/botbuilder-dialogs/tests/test_dialog_set.py
Owners: @microsoft/bf-dialogs

Adaptive Card Tabs (#1486)
  libraries/botbuilder-core/botbuilder/core/teams/teams_activity_handler.py
  libraries/botbuilder-core/tests/teams/test_teams_activity_handler.py
  libraries/botbuilder-schema/botbuilder/schema/teams/__init__.py
  libraries/botbuilder-schema/botbuilder/schema/teams/_models_py3.py
Owners: @microsoft/bf-teams, @axelsrz, @gabog, @johnataylor

TabResponse
  libraries/botbuilder-schema/botbuilder/schema/teams/__init__.py
  libraries/botbuilder-schema/botbuilder/schema/teams/_models_py3.py
Owners: @microsoft/bf-teams

Adding tab response (#1537)
  libraries/botbuilder-schema/botbuilder/schema/teams/__init__.py
  libraries/botbuilder-schema/botbuilder/schema/teams/_models_py3.py
Owners: @microsoft/bf-teams

Reduce trace activity in dialogs (#1488)
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_extensions.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/dialog_manager.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/skills/skill_dialog.py
  libraries/botbuilder-dialogs/tests/test_dialog_manager.py
Owners: @microsoft/bf-dialogs

Open id metadata cache refresh if key is missing (#1487)
  libraries/botframework-connector/botframework/connector/auth/jwt_token_extractor.py
Owners: @microsoft/bf-auth

Update azure blob SDK version (#1515)
  libraries/botbuilder-azure/botbuilder/azure/blob_storage.py
  libraries/botbuilder-azure/setup.py
  libraries/botbuilder-azure/tests/test_blob_storage.py
Owners: @tracyboehrer, @EricDahlvang, @microsoft/bb-python

Add TabEntityContext to init.py
  libraries/botbuilder-schema/botbuilder/schema/teams/__init__.py
Owners: @microsoft/bf-teams

Add TabEntityContext to init.py (#1538)
  libraries/botbuilder-schema/botbuilder/schema/teams/__init__.py
Owners: @microsoft/bf-teams

axelsrz/export-dialogs-memory
  libraries/botbuilder-dialogs/setup.py
Owners: @microsoft/bb-python

axelsrz/export-dialogs-memory (#1539)
  libraries/botbuilder-dialogs/setup.py
Owners: @microsoft/bb-python

Add TabEntityContext to init.py (#1538)
  libraries/botbuilder-schema/botbuilder/schema/teams/__init__.py
Owners: @microsoft/bf-teams

axelsrz/export-dialogs-memory (#1539)
  libraries/botbuilder-dialogs/setup.py
Owners: @microsoft/bb-python

Axsuarez/4.12 cherry picks (#1540)
  libraries/botbuilder-dialogs/setup.py
  libraries/botbuilder-schema/botbuilder/schema/teams/__init__.py
Owners: @microsoft/bb-python, @microsoft/bf-teams

add queue_storage
  libraries/botbuilder-azure/botbuilder/azure/__init__.py
  libraries/botbuilder-azure/botbuilder/azure/azure_queue_storage.py
  libraries/botbuilder-azure/botbuilder/azure/blob_storage.py
  libraries/botbuilder-azure/setup.py
  libraries/botbuilder-azure/tests/test_queue_storage.py
  libraries/botbuilder-core/botbuilder/core/__init__.py
  libraries/botbuilder-core/botbuilder/core/queue_storage.py
Owners: @tracyboehrer, @EricDahlvang, @microsoft/bb-python, @axelsrz, @gabog, @johnataylor

disable test w/o emulator
  libraries/botbuilder-azure/tests/test_queue_storage.py
Owners: @tracyboehrer, @EricDahlvang

black compliance
  libraries/botbuilder-core/botbuilder/core/queue_storage.py
Owners: @axelsrz, @gabog, @johnataylor

pylint compliance
  libraries/botbuilder-azure/tests/test_queue_storage.py
Owners: @tracyboehrer, @EricDahlvang

Create SkillClaimsValidation.md
  doc/SkillClaimsValidation.md
Owners: @microsoft/bb-python

Fixing error message
  doc/SkillClaimsValidation.md
Owners: @microsoft/bb-python

Create SkillClaimsValidation.md (#1549)
  doc/SkillClaimsValidation.md
Owners: @microsoft/bb-python

Bump to 4.13.0
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/about.py
  libraries/botbuilder-adapters-slack/requirements.txt
  libraries/botbuilder-adapters-slack/setup.py
  libraries/botbuilder-ai/botbuilder/ai/about.py
  libraries/botbuilder-ai/requirements.txt
  libraries/botbuilder-ai/setup.py
  libraries/botbuilder-applicationinsights/botbuilder/applicationinsights/about.py
  libraries/botbuilder-applicationinsights/requirements.txt
  libraries/botbuilder-applicationinsights/setup.py
  libraries/botbuilder-azure/botbuilder/azure/about.py
  libraries/botbuilder-azure/setup.py
  libraries/botbuilder-core/botbuilder/core/about.py
  libraries/botbuilder-core/requirements.txt
  libraries/botbuilder-core/setup.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/about.py
  libraries/botbuilder-dialogs/requirements.txt
  libraries/botbuilder-dialogs/setup.py
  libraries/botbuilder-integration-aiohttp/botbuilder/integration/aiohttp/about.py
  libraries/botbuilder-integration-aiohttp/requirements.txt
  libraries/botbuilder-integration-aiohttp/setup.py
  libraries/botbuilder-integration-applicationinsights-aiohttp/botbuilder/integration/applicationinsights/aiohttp/about.py
  libraries/botbuilder-integration-applicationinsights-aiohttp/setup.py
  libraries/botbuilder-schema/setup.py
  libraries/botbuilder-testing/botbuilder/testing/about.py
  libraries/botbuilder-testing/requirements.txt
  libraries/botbuilder-testing/setup.py
  libraries/botframework-connector/requirements.txt
  libraries/botframework-connector/setup.py
Owners: @tracyboehrer, @garypretty, @microsoft/bb-python, @microsoft/bf-cog-services, @axelsrz, @EricDahlvang, @gabog, @johnataylor, @microsoft/bf-dialogs, @microsoft/bb-python-integration

Updated README for 4.13
  README.md
Owners: @microsoft/bb-python

add PromptCultureModels, rework prompt locales
  libraries/botbuilder-dialogs/botbuilder/dialogs/prompts/__init__.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/prompts/choice_prompt.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/prompts/confirm_prompt.py
  libraries/botbuilder-dialogs/botbuilder/dialogs/prompts/prompt_culture_models.py
  libraries/botbuilder-dialogs/tests/test_choice_prompt.py
  libraries/botbuilder-dialogs/tests/test_confirm_prompt.py
Owners: @microsoft/bf-dialogs

Updates to slack-adapter
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/__init__.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_adapter.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_adatper_options.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_client.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_client_options.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_helper.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_message.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_options.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_payload.py
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/slack_request_body.py
Owners: @tracyboehrer, @garypretty

add description back to inspector
  libraries/botbuilder-dialogs/tests/test_choice_prompt.py
  libraries/botbuilder-dialogs/tests/test_confirm_prompt.py
Owners: @microsoft/bf-dialogs

black
  libraries/botbuilder-adapters-slack/botbuilder/adapters/slack/__init__.py
Owners: @tracyboehrer, @garypretty
